* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Moderat';
  src: url('../assets/fonts/Moderat-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Moderat';
  src: url('../assets/fonts/Moderat-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Moderat';
  src: url('../assets/fonts/Moderat-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Moderat';
  src: url('../assets/fonts/Moderat-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

